<!DOCTYPE html>
<html>

	<head>
		<meta charset="{CHARSET}">
		<title>活动页面</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="activity.css">
		<link rel="icon" href="../images/logo.ico" />
	</head>

	<body>
		<div class="con_wrap">
			<div class="con_bottom">
				<div class="con_box">
					<div>
						<h1 class="nav-logo">
						<a class="logo_a" href="/" onclick="pgvSendClick({hottag:'gwpc.index.top.navlogo'})" title="御龙在天手游-腾讯第一国战手游" target="_blank"><span class="tn">御龙在天手游-朕出手了-腾讯第一国战手游</span></a>
						</h1>
						<ul class="nav-list">
						<li>
							<a href="../index.html" target="_blank"><b>官网首页</b><span>Home</span></a>
						</li>
						<li>
							<a href="javascript:;" target="_blank"><b>游戏公告</b><span>News</span></a>
						</li>
						<li>
							<a href="javascript:;" target="_blank"><b>活动专区</b><span>Activity</span></a>
						</li>
						<li class="li04">
							<a href="javascript:;" target="_blank"><b>游戏攻略</b><span>Guide</span></a>
						</li>
						<li>
							<a href="yinyue.html" target="_blank"><b>明星大碟</b><span>Raiders</span></a>
						</li>
						<li>
							<a href="Noname1.html" target="_blank"><b>游戏图库</b><span>Videos</span></a>
						</li>
						<li>
							<a href="Tribune.html" target="_blank"><b>游戏论坛</b><span>Bbs</span></a>
						</li>
						<li>
							<a href="mall.html" target="_blank"><b>游戏商城</b><span>Gifts</span></a>
						</li>
					</ul>
						<a href="javascript:;" target="_blank" class="top_a_news pa" title="查看活动详情"><span class="tn">查看详情</span></a>
					</div>
					<div class="act_list">
						<div class="head-route">
							<strong class="c_spr tn act_ico fl">游戏资讯</strong>
							<p class="fr path">您所在的位置：
								<a href="../index.html" title="官网首页">首页</a>-<span>活动专区</span></p>
						</div>
						<ul class="act_box cfix">
							<li>
								<a href="javascript:;"><img src="images/67120241923723.jpg" class="img1"></a>
								<p>
									<a href="javascript:;"><b>名言天下-国展指挥赛 第二届</b></a>
								</p>
								<p>活动时间：2016-08-30-2016-09-26</p>
							</li>
							<li>
								<a href="javascript:;"><img src="images/17536149650438.jpg" class="img2"></a>
								<p>
									<a href="javascript:;"><b>群英争霸赛</b></a>
								</p>
								<p>活动时间：2016-08-30-2016-09-19</p>
							</li>
							<li>
								<a href="javascript:;"><img src="images/131051081364528.jpg" class="img3" style="width:280px;height:167px; "></a>
								<p>
									<a href="javascript:;"><b>官网专属成长礼包</b></a>
								</p>
								<p>活动时间：2016-08-09-2017-08-26</p>
							</li>
							<li>
								<a href="javascript:;"><img src="images/360251084753038.jpg" class="img4"></a>
								<p>
									<a href="javascript:;"><b>加入公会 一起分金银</b></a>
								</p>
								<p>活动时间：2016-07-08-2016-09-30</p>
							</li>
							<li>
								<a href="javascript:;"><img src="images/541591042610384.jpg" class="img5"></a>
								<p>
									<a href="javascript:;"><b>王者归来之 —— 王者提名（活动已结束）</b></a>
								</p>
								<p>活动时间：2016-04-25-2016-05-09</p>
							</li>
							<li>
								<a href="javascript:;"><img src="images/64577714388218.jpg" class="img6"></a>
								<p>
									<a href="javascript:;"><b>王者归来之 —— 王者票选，为你的王者点赞</b></a>
								</p>
								<p>活动时间：2016-05-24-2016-06-13</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="foot">
			<div class="weibu">
				<ul class="listm">
					<li>健康游戏：</li>
					<li>抵制不良游戏</li>
					<li>拒绝盗版游戏</li>
					<li>注意自我保护</li>
					<li>谨防上当受骗</li>
					<li>适度游戏益脑</li>
					<li>沉迷游戏伤身</li>
					<li>合理安排时间</li>
					<li>享受健康生活</li>
				</ul>
				<div class="tencent">
					<div class="tlogo"></div>
					<div class="tcontent">
						<ul class="some">
							<li>
								<a href="javascript:;">腾讯互动娱乐</a>
							</li>
							<li>
								<a href="javascript:;">服务条款</a>
							</li>
							<li>
								<a href="">广告服务</a>
							</li>
							<li>
								<a href="">腾讯游戏招聘</a>
							</li>
							<li>
								<a href="">腾讯游戏客服</a>
							</li>
							<li>
								<a href="">游戏活动</a>
							</li>
							<li>
								<a href="">游戏地图</a>
							</li>
							<li>
								<a href="">商务合作</a>
							</li>
							<li>
								<a href="">腾讯网</a>
							</li>
							<li>
								<a href="">网站导航</a>
							</li>
						</ul>
						<ul class="some">
							<li>文网游备字[2016]M-RPG 1116号&nbsp;&nbsp;|</li>
							<li>&nbsp;&nbsp;粤网文[2014]0633-233号&nbsp;&nbsp;|</li>
							<li>&nbsp;&nbsp;新出网证(粤)字010号</li>
						</ul>
						<p style="color: #C9A85C;">
							COPYRIGHT &copy;1998 - 2016 TENCENT.ALL RIGHTS RESERVED.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="msg">
			<a href="money.html" target="_blank" class="ccc"></a>
			<a href="javascript:adv.moveDown()" class="x">X</a>
		</div>

		<script>
			var adv={
				DISTANCE:0,
				DURATION:1500,
				STEPS:300,
				interval:0,
				step:0,
				msg:null,
				timer:null,
				moved:0,
				WAIT:2000,
				inti:function(){
					//查找id为msg的div保存在msg属性中
					this.msg=document.getElementById("msg");
					//获得msg计算后的样式中的height,保存在DISTANCE属性中（getComputedStyle）
					this.DISTANCE=parseFloat(getComputedStyle(this.msg).height);
					//计算interval=DURATION/STEPS
					this.interval=this.DURATION/this.STEPS;
					//计算step=DISTANCE/STEPS
					this.step=this.DISTANCE/this.STEPS;
					//调用moveUp()启动上移
					this.move(1);
				},
				move:function(dir,callback){//启动上移
					//启动周期性定时器,传入moveUpStep作为任务函数，设置时间间隔为interval,将序号保存在timer属性中
					this.timer=setInterval(this.moveStep.bind(this,dir,callback),this.interval);
				},
				moveStep:function(dir,callback){//上移一步
					//获得msg计算后的bottom
					var left=parseFloat(getComputedStyle(this.msg).left);
					//设置msg的bottom为bottom加一个step
					this.msg.style.left=left+dir*this.step+"px";
					this.moved++;
					//如果moved等于STEPS
					if (this.moved==this.STEPS)
					{
						//停止定时器，清空timer,moved归零
						clearInterval(this.timer);
						this.timer=null;
						this.moved=0;
						if (callback)
						{
							callback();
						}
					}				
				},
				moveDown:function(){
					//如果
					if (this.timer==null)//防动画叠加
					{
						this.move(-1,function(){
						//启动一次性定时器:传入move作为任务函数，提前绑定this和1，设置等待时间为WAIT，
						setTimeout(this.move.bind(this,1),this.WAIT);
						}.bind(this));
					}
				}
			}
			adv.inti();
		</script>
	</body>

</html>