<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<title>御龙商城</title>
		<link rel="icon" href="../images/logo.ico" />
		<style type="text/css">
			body {
				padding: 0;
				margin: 0;
			}
			
			.pic {
				width: 100%;
				background-position: top center;
				background-repeat: no-repeat;
			}
			
			.main {
				height: 100%;
				margin: 0 auto;
				position: relative;
			}
			
			.block-link {
				display: block;
				overflow: hidden;
				position: absolute;
				background: transparent;
				text-indent: -9999px;
			}
		</style>
	</head>

	<body>
		<div class="pic" style="height: 840px;background-image: url(images/1.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 171px;top: 5px;width: 159px;height: 139px;"></a>

				<a class="block-link" href="javascript:;" target="_blank" style="left: 346px;top: 6px;width: 147px;height: 140px;"></a>

				<a class="block-link" href="shopping.html" target="_blank" style="left: 514px;top: 10px;width: 142px;height: 140px;"></a>

				<a class="block-link" href="javascript:;" target="_blank" style="left: 676px;top: 2px;width: 148px;height: 144px;"></a>

				<a class="block-link" href="javascript:;" target="_blank" style="left: 840px;top: 9px;width: 139px;height: 141px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 690px;background-image: url(images/2.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 3px;top: 0px;width: 978px;height: 679px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 757px;background-image: url(images/3.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 14px;top: 0px;width: 969px;height: 751px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 612px;background-image: url(images/4.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 10px;top: 6px;width: 964px;height: 597px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 551px;background-image: url(images/5.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 13px;top: 11px;width: 974px;height: 533px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 583px;background-image: url(images/6.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="shopping.html" target="_blank" style="left: 3px;top: 19px;width: 982px;height: 519px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 559px;background-image: url(images/7.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 14px;top: 10px;width: 976px;height: 538px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 593px;background-image: url(images/8.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 17px;top: 19px;width: 925px;height: 571px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 579px;background-image: url(images/9.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 30px;top: 18px;width: 950px;height: 551px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 595px;background-image: url(images/10.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 21px;top: 28px;width: 952px;height: 536px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 644px;background-image: url(images/11.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 15px;top: 17px;width: 954px;height: 613px;"></a>

			</div>
		</div>

		<div class="pic" style="height: 841px;background-image: url(images/12.jpg)">
			<div class="main" style="width: 990px">

				<a class="block-link" href="javascript:;" target="_blank" style="left: 58px;top: 26px;width: 922px;height: 637px;"></a>

			</div>
		</div>
	</body>

</html>