<!doctype html>
<html>

	<head>
		<title>图库</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../main.css">
		<style type="text/css">
			body{
				background: url(../images/con_top.jpg) no-repeat;
				background-size:contain;
			}
		</style>
	</head>

	<body>
		<div id="count">
			<div class="top">
				<p>您的当前位置：首页-游戏图库</p>
				<h2>游戏图库</h2>
			</div>
			<ul>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/2925617409816_MiddleAbbr.jpg">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/15712600112863_MiddleAbbr.jpg">
					</a>
				</li>
			</ul>
			<div class="lastpage">
				<a href="#">下一页</a>
			</div>
		</div>
	</body>

</html>