<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<title>御龙在天-官方论坛</title>
		<link rel="stylesheet" href="tribune.css">
		<link rel="icon" href="../images/logo.ico" />
		<link rel="stylesheet" href="jquery-ui.css">
	</head>

	<body>
		<div class="login">
			<div class="con">
				<b class="close">×</b>
				<ul class="ttabs">
					<li class="cur">登录</li>
					<li>注册</li>
				</ul>
				
				<div class="tcontent">
					<div class="cur">
						<ul>
							<li>
								<span>用户名</span>：<input type="text" name="userName" placeholder="请输入用户名" onblur="valiName(this)"><s class="msg">用户名错误</s>
							</li>
							<li>
								<span>密&nbsp;&nbsp;&nbsp;码</span>：<input type="password" name="userPwd" placeholder="请输入密码" onblur="valiPwd(this)"><s class="msg">密码错误</s>
							</li>
							<li>
								<span>验证码</span>：<input type="text" name="vali" onblur="valic(this,0)"><s class="msg">验证码错误</s>
							</li>
							<li>
								<i class="vali" onclick="valiCode()">获取验证码</i>
							</li>
							<li class="aaa">
								<a href="#">登录</a>
								<a href="#">记住密码</a>
							</li>
							<li>
								<a href="#" class="forget">忘记密码</a>
							</li>
						</ul>
					</div>
					<div>
						<ul>
							<li>
								<span>用户名</span>：<input type="text" name="userName" placeholder="用户名为4~10位字母或数字" onblur="valiName(this)"><s class="msg">用户名错误</s>
							</li>
							<li>
								<span>密&nbsp;&nbsp;&nbsp;码</span>：<input type="password" name="userPwd" placeholder="密码为6至16位字母或数字" onblur="valiPwd(this)"><s class="msg">密码错误</s>
							</li>
							<li>
								<span>确认密码</span>：<input type="password" name="userPwd" placeholder="请输入密码"><s class="msg">密码不一致</s>
							</li>
							<li>
								<span>验证码</span>：<input type="text" name="vali" onblur="valic(this,1)"><s class="msg">验证码错误</s>
							</li>
							<li>
								<i class="vali" onclick="valiCode()">获取验证码</i>
							</li>
							<li class="aaa">
								<a href="#" style="margin-left: 70px">注册</a>
							</li>
							<li>
								<p class="regmsg"></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="wrap">
			<h1 class="hid">御龙在天手游官方论坛 </h1>
			<!-- 隐藏的页面h1，一般放游戏名和sologan -->
			<div class="header">
				<a href="../index.html"><img src="images/logo.png" alt="御龙在天手游" class="logo1"></a>
				<img src="images/header_logo_tiao.jpg" alt="" class="logo_tiao">
				<a href="#"><img src="images/header_title.png" alt="官方论坛" class="logo2"></a>
				<div class="header_funciotn">
					<ul>
						<li class="header_fun_bottom clearfix">
							<a href="#" id="unlogin" class="lt_login" onclick="sh()"><b></b>登录</a>
							<p id="logined" class="logined" style="display:none;">欢迎您，<span id="login_qq_span"></span>，
								<a href="javascript:;" id="dologout">[注销]</a>
							</p>
						</li>
					</ul>
				</div>

			</div>

			<!--   内容 -->
			<div class="main">
				<div class="nav">
					<ul>
						<li>
							<a href="#"><img src="images/nav_1.png"></a>
						</li>
						<li>
							<a href="../index.html"><img src="images/nav_2.png"></a>
						</li>
					</ul>
				</div>
				<div class="lt_header">
					<div class="lt_header_left">

						<div class="play">
							<a href="#" target="_blank" class="cur"><img src="images/phpakYtcF_2125481523_1470708435.jpg" width="700" height="313" title="拿新手礼包，战场见！"></a>
							<a href="#" target="_blank"><img src="images/phpQlbqTC_1674502393_1470710491.jpg" width="700" height="313" title="不删档军饷预约"></a>
							<a href="#" target="_blank"><img src="images/phpm0tRI4_904210797_1470021767.jpg" width="700" height="313" title="加入公会&nbsp;分金银"></a>
							<a href="#" target="_blank"><img src="images/phpVL1dtI_1683611174_1468810417.jpg" width="700" height="313" title="探寻藏宝图"></a>
						</div>
						<div class="ll">
							<a class="cur">拿新手礼包，战场见！</a>
							<a>不删档军饷预约</a>
							<a>加入公会&nbsp;分金银</a>
							<a style="border-right: 0;">探寻藏宝图</a>
						</div>
					</div>
					<script>
						var plays = document.getElementsByClassName("play")[0].getElementsByTagName("a");
						var lls = document.getElementsByClassName("ll")[0].getElementsByTagName("a");

						function show(a) {
							for(var i = 0; i < plays.length; i++) {
								lls[i].className = '';
								plays[i].className = '';
							}
							lls[a].className = 'cur';
							plays[a].className = 'cur';
						}
						for(var i = 0; i < plays.length; i++) {
							lls[i].index = i;
							lls[i].onclick = function() {
								show(this.index);
							}
						}
					</script>
					<div class="lt_header_right">
						<span class="right_title"></span>
						<ul>
							<li>
								<a href="/thread-4944446362591680-1-1.html"><b>[交流]</b>10月12日不停机更新公告</a>
							</li>
							<li>
								<a href="/thread-4287800967274944-1-1.html"><b>[招兵]</b>御龙在天手游招兵买马版块-版面规定</a>
							</li>
							<li>
								<a href="/thread-4485829486993856-1-1.html"><b>[攻略]</b>《御龙在天手游》羽扇技能使用技巧</a>
							</li>
							<li>
								<a href="/thread--1-1.html"><b>[反馈]</b></a>
							</li>
							<li>
								<a href="/thread-4513128854290880-1-1.html"><b>[五国]</b>《御龙在天手游》有备无患！国战攻略战前准备篇</a>
							</li>
							<li>
								<a href="/thread--1-1.html"><b>[研发]</b></a>
							</li>
						</ul>
					</div>

					<div class="lt_header_bottom">
						<div class="lt_serach">
							<i></i>
							<input type="text" name="search" class="lt_search_input" id="search" value="" placeholder="请输入搜索内容">
							<span><b></b></span>
						</div>
						<button class="lt_search_btn" id="doSearch">搜索</button>
						<!--  <div>
                    <span>热搜：</span>
                    <a href="#">活动</a>   
                    <a href="#">御龙在天</a>
                    <a href="#">最新</a>
                </div> -->
					</div>

				</div>

				<div class="lt_middle">
					<ul>
						<li><span><a href="#">今日：</a></span>396</li>
						<!-- <li><span><a href="#">昨日：</a></span>4839</li> -->
						<li><span><a href="#">帖子：</a></span>13658</li>
						<li style="background:0"><span><a href="#">会员：</a></span>45769</li>
						<!-- <li><span><a href="#">欢迎新会员：</a></span>xy2@362998818</li> -->
					</ul>

				</div>

				<div class="lt_bottom">
					<ul>
						<li>
							<div class="lt_bottom_img">
								<a href="#"><img src="images/banner001.jpg"></a>
							</div>
							<div class="lt_bottom_word">
								<h2><a href="#">综合交流区</a></h2>
								<dl>
									<dt>建功立业的路上，和兄弟们分享你的荣耀，分担你的困难！</dt>
									<!--dd><span>主题：</span>24468<b> |</b></dd>
                             <dd><span>贴数：</span>42420</dd-->
								</dl>
							</div>
						</li>
						<li>
							<div class="lt_bottom_img">
								<a href="#"><img src="images/banner006.jpg"></a>
							</div>
							<div class="lt_bottom_word">
								<h2><a href="#">问题反馈</a></h2>
								<dl>
									<dt>游戏bug、诈骗邮件，盗号等问题尽情在这吐槽，客服为你解决！</dt>
									<!--dd><span>主题：</span>24468<b> |</b></dd>
                             <dd><span>贴数：</span>42420</dd-->
								</dl>
							</div>
						</li>
						<li>
							<div class="lt_bottom_img">
								<a href="#"><img src="images/banner002.jpg"></a>
							</div>
							<div class="lt_bottom_word">
								<h2><a href="#">招兵买马</a></h2>
								<dl>
									<dt>组建家族、招募贤才、加入豪族......扩大势力就在指尖上完成！</dt>
									<!--dd><span>主题：</span>24468<b> |</b></dd>
                             <dd><span>贴数：</span>42420</dd-->
								</dl>
							</div>
						</li>
						<li>
							<div class="lt_bottom_img">
								<a href="#"><img src="images/banner004.jpg"></a>
							</div>
							<div class="lt_bottom_word">
								<h2><a href="#">攻略板块</a></h2>
								<dl>
									<dt>资深玩家无私分享“兵家宝典”之地，助你揽尽精华攻略，指点江山。</dt>
									<!--dd><span>主题：</span>24468<b> |</b></dd>
                             <dd><span>贴数：</span>42420</dd-->
								</dl>
							</div>
						</li>
						<li>
							<div class="lt_bottom_img">
								<a href="#"><img src="images/banner003.jpg"></a>
							</div>
							<div class="lt_bottom_word">
								<h2><a href="#">五国纷争</a></h2>
								<dl>
									<dt>家国矛盾、王城争霸的畅谈之地。</dt>
									<!--dd><span>主题：</span>24468<b> |</b></dd>
                             <dd><span>贴数：</span>42420</dd-->
								</dl>
							</div>
						</li>
						<li>
							<div class="lt_bottom_img">
								<a href="#"><img src="images/banner005.jpg"></a>
							</div>
							<div class="lt_bottom_word">
								<h2><a href="#">研发动态</a></h2>
								<dl>
									<dt>掌握《御龙在天》升级、bug修复，开发动态等先机！</dt>
									<!--dd><span>主题：</span>24468<b> |</b></dd>
                             <dd><span>贴数：</span>42420</dd-->
								</dl>
							</div>
						</li>
					</ul>
				</div>

			</div>

			<div class="foot">
				<div class="weibu">
					<ul class="listm">
						<li>健康游戏：</li>
						<li>抵制不良游戏</li>
						<li>拒绝盗版游戏</li>
						<li>注意自我保护</li>
						<li>谨防上当受骗</li>
						<li>适度游戏益脑</li>
						<li>沉迷游戏伤身</li>
						<li>合理安排时间</li>
						<li>享受健康生活</li>
					</ul>
					<div class="tencent">
						<div class="tlogo"></div>
						<div class="tcontent">
							<ul class="some">
								<li>
									<a href="#">腾讯互动娱乐</a>
								</li>
								<li>
									<a href="#">服务条款</a>
								</li>
								<li>
									<a href="">广告服务</a>
								</li>
								<li>
									<a href="">腾讯游戏招聘</a>
								</li>
								<li>
									<a href="">腾讯游戏客服</a>
								</li>
								<li>
									<a href="">游戏活动</a>
								</li>
								<li>
									<a href="">游戏地图</a>
								</li>
								<li>
									<a href="">商务合作</a>
								</li>
								<li>
									<a href="">腾讯网</a>
								</li>
								<li>
									<a href="">网站导航</a>
								</li>
							</ul>
							<ul class="some">
								<li>文网游备字[2016]M-RPG 1116号&nbsp;&nbsp;|</li>
								<li>&nbsp;&nbsp;粤网文[2014]0633-233号&nbsp;&nbsp;|</li>
								<li>&nbsp;&nbsp;新出网证(粤)字010号</li>
							</ul>
							<p style="color: #C9A85C;">
								COPYRIGHT &copy;1998 - 2016 TENCENT.ALL RIGHTS RESERVED.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.11.3.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script>
			var dishList=["综合交流区","问题反馈","招兵买马","攻略板块","五国纷争","研发动态"];
			$("[name='search']").autocomplete({source:dishList});
		</script>
		<script type="text/javascript">
			var lis = document.getElementsByClassName("ttabs")[0].getElementsByTagName("li");
			var divs = document.getElementsByClassName("tcontent")[0].getElementsByTagName("div");
			var zhe = document.getElementsByClassName("login")[0];
			var b = document.getElementsByClassName("close")[0];
			b.onclick = function() {
				zhe.style.display = 'none';
			}

			function valiName(txt) {
				var reg = new RegExp(/^[a-zA-Z0-9]{4,10}$/);
				if(!reg.test(txt.value)) {
					txt.nextSibling.style.opacity = 1;
					valiCode();
				}
				else{
					txt.nextSibling.style.opacity = 0;
				}
			}

			function valiPwd(pwd) {
				var reg = new RegExp(/^[a-zA-Z0-9]{6,16}$/);
				if(!reg.test(pwd.value)) {
					pwd.nextSibling.style.opacity = 1;
					valiCode();
				}
				else{
					pwd.nextSibling.style.opacity = 0;
				}
			}
			var code = new Array();

			function valiCode() {
				var codes = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
				code[0] = [];
				code[1] = [];
				for(var i = 0; i < 4; i++) {
					code[0].push(codes[Math.floor(Math.random() * 62)]);
					code[1].push(codes[Math.floor(Math.random() * 62)]);
				}
				var vali = document.getElementsByClassName("vali");
				vali[0].innerHTML = code[0].join('');
				vali[1].innerHTML = code[1].join('');
				vali[0].style.fontSize='32px';
				vali[1].style.fontSize='32px';
			}

			function valic(txt,a) {
				if(txt.value.toLowerCase() != code[a].join('').toLowerCase()) {
					txt.nextSibling.style.opacity = 1;
					valiCode();
				} else {
					txt.nextSibling.style.opacity = 0;
				}
			}

			function show1(a) {
				for(var i = 0; i < 2; i++) {
					lis[i].className = '';
					divs[i].className = '';
				}
				lis[a].className = 'cur';
				divs[a].className = "cur";
			}
			for(var i = 0; i < 2; i++) {
				lis[i].index = i;
				lis[i].onclick = function() {
					show1(this.index);
				}
			}
			function sh() {
				zhe.style.display = 'block';
			}
		</script>
	</body>

</html>