<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>yinyue</title>

		<link href="yinyue.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="container">
			<div class="content">
				<div class="bgb">
					<a class="pre" onclick="changep()"></a>
					<a class="next" onclick="changen()"></a>
					<div class="bgs">
						<a href="../index.html"></a>
						<ul class="headt">
							<li>
								<a href="javascript:;">收藏本页面</a>
							</li>
							<li>
								<a href="../index.html" target="_blank">官网首页</a>
							</li>
							<li>
								<a href="javascript:;" style="border-right: none;">下载客户端</a>
							</li>
						</ul>
						<ul class="share">
							<li>分享至：</li>
							<li><a href="http://t.qq.com" class="share1" title="分享到腾讯微博"></a></li>
							<li><a href="http://zc.open.qq.com/" class="share2" title="分享到腾讯空间"></a></li>
							<li><a href="http://www.kaixin001.com/" class="share3" title="分享到开心网"></a></li>
							<li><a href="http://www.renren.com/" class="share4" title="分享到人人网"></a></li>
							<li><a href="https://cloud.baidu.com/" class="share5" title="分享到百度空间"></a></li>
							<li><a href="https://www.douban.com/" class="share6" title="分享到豆瓣"></a></li>
						</ul>
						<div class="vid">
							<video width="642" height="362" controls>
							  <source src="west2.mp4" type="video/mp4">
							  <source src="west2.mp4" type="video/ogg">
							  <source src="west2.mp4" type="video/webm">
							  <object data="west2.mp4" width="320" height="240">
								<embed src="west2.mp4" width="320" height="240">
							  </object> 
							</video>
						</div>
					</div>
				</div>
				<div class="foot">
					<div class="leftf">
						<div class="mintr">
							<div><b>歌曲介绍</b><span>ABOUT&nbsp;the&nbsp;song</span><i>欣赏歌词</i></div>
							<p>姚贝娜因演唱大热宫斗剧的主题曲和多首插曲而名声大噪，
								她的唱腔和吐字给人极强的历史画面感，听她唱《御龙吟》，
								仿佛瞬间置身于战火缭绕的时代，而个中爱情故事也着实令人唏嘘慨叹。</p>
						</div>
						<div class="star">
							<div><b>御龙全明星</b><span>ALL&nbsp;STARS</span></div>
							<ul>
								<li><a href="javascript:;"><img src="../images/allstar_img0.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img1.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img2.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img3.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img4.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img5.jpg"></a></li>
							</ul><br />
							<ul>
								<li><a href="javascript:;"><img src="../images/allstar_img6.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img7.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img8.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img9.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/allstar_img11.jpg"></a></li>
								<li><a href="javascript:;"><img src="../images/unknown.jpg"></a></li>
							</ul>
						</div>
					</div>
					<div class="rightf">
						<p>歌曲列表</p>
						<ul class="htit" style="border-bottom: 0;">
							<li class="name">歌曲名称</li>
							<li class="singer">演唱者</li>
							<li class="count">播放次数</li>
							<li class="play">播放</li>
						</ul>
						<ul>
							<li class="name">御龙瑶字诀</li>
							<li class="singer">凤凰传奇</li>
							<li class="count">41936800</li>
							<li class="play"><s></s></li>
						</ul>
						<ul>
							<li class="name">御龙耀九天</li>
							<li class="singer">周笔畅</li>
							<li class="count">4188794</li>
							<li class="play"><s></s></li>
						</ul>
						<ul>
							<li class="name">御龙吟</li>
							<li class="singer">吴丹</li>
							<li class="count">360808</li>
							<li class="play"><s></s></li>
						</ul>
						<ul>
							<li class="name">御龙风之吹</li>
							<li class="singer">丹戈尔</li>
							<li class="count">316215</li>
							<li class="play"><s></s></li>
						</ul>
						<ul>
							<li class="name">国战战斗</li>
							<li class="singer">场景音乐</li>
							<li class="count">249345</li>
							<li class="play"><s></s></li>
						</ul>
						<ul>
							<li class="name">Boss QTE</li>
							<li class="singer">凤凰传奇</li>
							<li class="count">198345</li>
							<li class="play"><s></s></li>
						</ul>
						<ul>
							<li class="name">赤壁</li>
							<li class="singer">林俊杰</li>
							<li class="count">151148</li>
							<li class="play"><s></s></li>
						</ul>
						<ul>
							<li class="name">卧龙城</li>
							<li class="singer">凤凰传奇</li>
							<li class="count">128967</li>
							<li class="play"><s></s></li>
						</ul>
						<ul style="margin-left: 100px;border-bottom: 0;">
							<li style="cursor: pointer;margin-right:20px ;">
								首页
							</li>
							<li style="cursor: pointer;margin-right:20px ;">
								下一页
							</li>
							<li style="cursor: pointer;margin-right:20px ;">
								尾页
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab">
				<ul>
					<li class="cur"><img src="../images/star_img1.jpg"></li>
					<li><img src="../images/star_img10.jpg"></li>
					<li><img src="../images/star_img2.jpg"></li>
					<li><img src="../images/star_img0.jpg"></li>
					<li><img src="../images/star_img5.jpg"></li>
					<li><img src="../images/star_img6.jpg"></li>
					<li><img src="../images/star_img3.jpg"></li>
					<li><img src="../images/star_img4.jpg"></li>
					<li><img src="../images/star_img7.jpg"></li>
					<li><img src="../images/star_img8.jpg"></li>
				</ul>
			</div>
			<div class="weibu">
					<ul class="listm">
						<li>健康游戏：</li>
						<li>抵制不良游戏</li>
						<li>拒绝盗版游戏</li>
						<li>注意自我保护</li>
						<li>谨防上当受骗</li>
						<li>适度游戏益脑</li>
						<li>沉迷游戏伤身</li>
						<li>合理安排时间</li>
						<li>享受健康生活</li>
					</ul>
					<div class="tencent">
						<div class="tlogo"></div>
						<div class="tcontent">
							<ul class="some">
								<li>
									<a href="javascript:;">腾讯互动娱乐</a>
								</li>
								<li>
									<a href="javascript:;">服务条款</a>
								</li>
								<li>
									<a href="javascript:;">广告服务</a>
								</li>
								<li>
									<a href="javascript:;">腾讯游戏招聘</a>
								</li>
								<li>
									<a href="javascript:;">腾讯游戏客服</a>
								</li>
								<li>
									<a href="javascript:;">游戏活动</a>
								</li>
								<li>
									<a href="javascript:;">游戏地图</a>
								</li>
								<li>
									<a href="javascript:;">商务合作</a>
								</li>
								<li>
									<a href="javascript:;">腾讯网</a>
								</li>
								<li>
									<a href="javascript:;">网站导航</a>
								</li>
							</ul>
							<ul class="some">
								<li>文网游备字[2016]M-RPG 1116号&nbsp;&nbsp;|</li>
								<li>&nbsp;&nbsp;粤网文[2014]0633-233号&nbsp;&nbsp;|</li>
								<li>&nbsp;&nbsp;新出网证(粤)字010号</li>
							</ul>
							<p style="color: #C9A85C;">
								COPYRIGHT &copy;1998 - 2016 TENCENT.ALL RIGHTS RESERVED.
							</p>
						</div>
					</div>
				</div>
		</div>
		<script>
			var bgbig=document.getElementsByClassName("bgb")[0];
			var bgsmall=document.getElementsByClassName("bgs")[0];
			var pre=document.getElementsByClassName("pre")[0];
			var next=document.getElementsByClassName("next")[0];
			var keys=document.getElementsByClassName("tab")[0].getElementsByTagName("ul")[0].getElementsByTagName("li");
			for(var i=0;i<keys.length;i++){
				keys[i].index=i;
				keys[i].onclick=function(){
					show(this.index);
				}
			}
			function show(a){
				for(var i=0;i<keys.length;i++){
					keys[i].className='';
				}
				keys[a].className='cur';
				bgbig.style.background='url(../images/top_i'+a+'.jpg) center top no-repeat';
				bgsmall.style.background='url(../images/s_i'+a+'.jpg) center top no-repeat';
				if (a>5)
				{
					alert("敬请期待");
					keys[a].className='cur';
					bgbig.style.background='url(../images/top_i'+5+'.jpg) center top no-repeat';
					bgsmall.style.background='url(../images/s_i'+5+'.jpg) center top no-repeat';
				}
			}
			function changep(){
				for(var i=0;i<keys.length;i++){
					if(keys[i].className=='cur')break;
				}
				if(i==0){i=5;}
				else{i=i-1;}
				show(i);
			}
			function changen(){
				for(var i=0;i<keys.length;i++){
					if(keys[i].className=='cur')break;
				}
				if(i==5){i=0;}
				else{i=i+1;}
				show(i);
			}
		</script>
	</body>

</html>