body,ul,li,h1,h2,h3,h4,p,label,input{margin:0;padding:0}
body{font:14px/1.5 '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,"sans-serif";-webkit-text-size-adjust:none;color:#929392;text-align:left;min-width:1000px;padding-top:42px;background-color:#E3E4E3;overflow-x:hidden}
a{color:#929392;vertical-align:baseline;text-decoration:none;cursor:pointer;outline:none}
a:hover {text-decoration:underline}
ul,li{list-style-type:none}
.hid{display:block;height:0;overflow:hidden}
.tn{text-indent:-9999em;overflow:hidden;display:block}
.fl,.f-left{float:left}.fr,.f-right{float:right}
.cfix{*zoom:1}
.cfix:after{display:table;content:"";clear:both}
img,a img{border:none}
.pa{position:absolute}.pr{position:relative}
.w1000{width:1000px;margin:0 auto}

/*top nav*/
.nav-list{padding-top:37px;height:50px}
.nav-list li{float:left;text-align:center;margin-right:56px}
.nav-list li.li04{margin-right:215px}
/*.nav-list li.li05{margin-right:95px}
.nav-list li.li06{margin-right:95px}*/
.nav-list li.mar_no{margin-right:0}
.nav-list li a{color:#f8cc6e}
.nav-list li a span{color:#bfbfbe;text-transform:uppercase;display:block;font-size:12px}
.nav-list li a:hover{text-decoration:none}
.nav-list li a:hover{color:#F3A90A}
.nav-logo{left:434px;top:10px;z-index:99;width:135px;height:100px}
.nav-logo .logo_a{display:block;width:100%;height:100%}


/*healthy*/
.healthy{background-color:#685C4A;height:22px;padding:14px 0;clear:both}
.heal_box{width:950px;margin:0 auto}
.healthy strong{display:block;color:#FFF;height:22px;width:90px;margin:0 10px}
.healthy ul{height:22px}
.healthy li{float:left;width:85px;color:#bda37c;margin:0 10px}

/*foot-info*/
.foot-dark{padding:30px 60px;zoom:1;background:#000;height:60px}
.foot-cpright{overflow:hidden;width:960px;margin:0 auto}
.foot-sprt{margin:0 2px;_margin:0 0}
.foot-logos{width:280px;height:60px}
.foot-logos-game{display:block;width:100%;height:100%;text-indent:-999em;overflow:hidden;background: url(http://ossweb-img.qq.com/images/ylzt/web201512/timi.jpg) #000 no-repeat;
    background-position:0 0}
.foot-links,.foot-links a {color:#4A4A4A;font-size: 12px;}
.foot-info{padding:50px 0;letter-spacing: -4px;word-spacing:-4px;font-size:0;}
.foot-info li{display:inline-block;*display:inline;zoom:1;vertical-align:top;letter-spacing:normal;word-spacing:normal;font-size:14px}
.foot-info .gzweixin{width:255px;padding-right:60px}
.foot-info .tips{width:325px;padding-right:60px}
.foot-info .coop{width:260px;}
.foot-info .coop-list li{display:block;}
.foot-links .ww_ico{background:url(http://ossweb-img.qq.com/images/ylzt/web201512/youxidzbq.png) no-repeat;padding-left:20px}

/*IE8 tips*/
.browser_tips {background:#fff9d4;color:#000;padding:10px 0;text-align:center;width:100%;border-bottom:1px solid #000}
.browser_tips a {color:#F13C35}